language: scala

jdk:
- openjdk6

env:
  matrix:
    - "EMACS=emacs24 ENSIME_TEST_SERVER_VERSION=2.11.4"

install:
  - if [ "$EMACS" = "emacs23" ]; then
        sudo apt-get update -qq &&
        sudo apt-get install -qq emacs23-gtk emacs23-el;
    fi
  - if [ "$EMACS" = "emacs24" ]; then
        sudo add-apt-repository -y ppa:cassou/emacs &&
        sudo apt-get update -qq &&
        sudo apt-get install -qq emacs24 emacs24-el;
    fi

script: bash test/.travis.sh